/* style.css file created by darleneagabayani */
.headings {
  font-family: "Oswald";
  color: darkblue;
  font-size: larger;
  font-weight: bold;
}
.nonheadings {
  font-family: "Open Sans";
  color: darkblue;
}
body {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: ivory;
}
.image {
  float: left;
}
div {
  -webkit-column-count: 3;
  -webkit-column-width: 300px;
}
#nav {
  width: 100%;
  float: left;
  list-style: none;
}
#nav li {
  float: left;
  margin-right: 50px;
}